/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
    padding-left: 0;
    @include fdisplay ($dir: column, $bas:100%);
    @include media {
      @include fdisplay($dir: row, $just: flex-end, $align:center)
    }
    &-link {
      text-align: center;
      padding: 10px 0;
      display: block;
      @include measurements($width: 100%);
      @include border-radius;
      transition: 
        background-color .2s ease-in-out, 
        color .2s ease-in-out;
      @include media {
        flex-basis: 100px;
      }
      &:hover {
        color: $white;
        background-color: $color-primary;
      }
    }
  }
  
  

  